body {
  background-color: #2d3436;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fdcb6e;
  border: 1px solid transparent;
  border-radius: 8px;
  color: black;
  font-size: 20px;
  padding: 20px 40px;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  background-color: #00b894;
}
h1 {
  color: #fdcb6e;
  text-align: center;
  transition: all 0.5s;
}
h1:hover {
  color: #00b894;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
h3 {
  color: #ff7979;
  text-align: center;
}
